@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Exo:ital,wght@0,100..900;1,100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  font-family: "Red Hat Display", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer base {
  #logo {
    font-family: "Exo", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  }

  #cartItemsContainer {
    scrollbar-width: none;
  }

  #cartItemsContainer::-webkit-scrollbar {
    display: none;
  }
}
